article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a :hover, a :active {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5 em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-mox-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0.2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroud {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html {
  font-size: 16px;
  font-family: "Lora", Times New Roman, serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

@media print {
  body {
    font-size: 12pt;
    line-height: 1.25em; }

  h1 {
    font-size: 36pt;
    line-height: 1.25em; }

  h2 {
    font-size: 24pt;
    line-height: 1.25em; }

  h3 {
    font-size: 18pt;
    line-height: 1.25em; }

  h4 {
    font-size: 14pt;
    line-height: 1.25em; }

  blockquote {
    font-size: 24pt;
    line-height: 1.45833333em; } }
body {
  font-size: 1em;
  line-height: 1.25em;
  margin: 0; }
  @media (min-width: 64.0625em) {
    body {
      line-height: 1.375em; } }

h1, h2, h3, h4, h5, h6, blockquote {
  font-family: "Lato", Arial, san-serif;
  margin: 0 .67em 0;
  color: #0053a0;
  font-weight: 400; }

h1 {
  font-size: 2em;
  line-height: 1.25em; }
  @media (min-width: 64.0625em) {
    h1 {
      font-size: 2.5em;
      line-height: 1.125em; } }
  @media (min-width: 90.0625em) {
    h1 {
      font-size: 3em;
      line-height: 1.05em; } }

h2 {
  font-size: 1.625em;
  line-height: 1.15384615em; }
  @media (min-width: 64.0625em) {
    h2 {
      font-size: 2em;
      line-height: 1.25em; } }
  @media (min-width: 90.0625em) {
    h2 {
      font-size: 2.25em; } }

h3 {
  font-size: 1.375em;
  line-height: 1.13636364em; }
  @media (min-width: 64.0625em) {
    h3 {
      font-size: 1.5em;
      line-height: 1.25em; } }
  @media (min-width: 90.0625em) {
    h3 {
      font-size: 1.75em; } }

h4 {
  font-size: 1.125em;
  line-height: 1.11111111em; }
  @media (min-width: 64.0625em) {
    h4 {
      line-height: 1.22222222em; } }

blockquote {
  font-size: 1.25em;
  line-height: 1.25em; }
  @media (min-width: 64.0625em) {
    blockquote {
      font-size: 1.5em;
      line-height: 1.45833333em; } }

.lowercase {
  text-transform: lowercase; }

.hidesmall {
  display: none; }
  @media (min-width: 90.0625em) {
    .hidesmall {
      display: inline; } }

.emphasis {
  font-weight: 700; }

.italicized {
  font-style: oblique; }

header {
  font-family: "Lato", Arial, san-serif;
  background-color: #313131;
  color: white;
  width: 100%;
  overflow: hidden;
  padding-bottom: 5%; }
  header a {
    text-decoration: none;
    color: white; }
  header ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  @media (min-width: 40.0625em) {
    header {
      background-color: rgba(49, 49, 49, 0);
      padding: 0;
      color: #929292; }
      header a {
        color: #929292; } }
  header .utility-nav {
    padding: 2% 5% 5% 5%;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 0.6875em; }
    @media (min-width: 40.0625em) {
      header .utility-nav {
        background-color: rgba(255, 255, 255, 0.95);
        padding: 0 2.5%;
        margin: 0 0 0 1em;
        border-bottom: #fbfbfb solid 1px;
        max-width: 95%;
        margin: 0 auto; }
        header .utility-nav .shift-right {
          float: right;
          width: 47em; } }
    header .utility-nav ul li {
      float: left;
      position: relative; }
      header .utility-nav ul li a {
        display: block;
        padding: 1em 0; }
        @media (min-width: 40.0625em) {
          header .utility-nav ul li a {
            padding: 1em;
            margin: 0.25em 1em 0 0;
            -webkit-transition: color 0.2s ease;
            -moz-transition: color 0.2s ease;
            -o-transition: color 0.2s ease;
            transition: color 0.2s ease; }
            header .utility-nav ul li a:hover {
              color: #0053a0; } }
      header .utility-nav ul li + li {
        margin: 0 0 0 1em; }
        @media (min-width: 40.0625em) {
          header .utility-nav ul li + li {
            margin: inherit; } }
    header .utility-nav .close-mobile {
      float: right; }
      header .utility-nav .close-mobile a.toggle-menu {
        height: 12px;
        width: 17px;
        margin-top: 15px;
        background-image: url(../../images/svg/hamburger.svg);
        background-repeat: no-repeat;
        overflow: hidden;
        text-indent: -500em; }
      @media (min-width: 40.0625em) {
        header .utility-nav .close-mobile {
          display: none; } }
    header .utility-nav .utility-search {
      padding: 1em 2em 0 0;
      clear: both;
      max-width: 70%;
      min-width: 20em;
      margin: 0 auto; }
      @media (min-width: 40.0625em) {
        header .utility-nav .utility-search {
          clear: none;
          float: right; } }
      header .utility-nav .utility-search form ::-webkit-input-placeholder {
        font-size: 1.18181818em; }
      header .utility-nav .utility-search form :-moz-placeholder {
        font-size: 1.18181818em; }
      header .utility-nav .utility-search form ::-moz-placeholder {
        font-size: 1.18181818em; }
      header .utility-nav .utility-search form :-ms-input-placeholder {
        font-size: 1.18181818em; }
      header .utility-nav .utility-search form ::-webkit-input-placeholder {
        text-transform: capitalize; }
      header .utility-nav .utility-search form :-moz-placeholder {
        text-transform: capitalize; }
      header .utility-nav .utility-search form ::-moz-placeholder {
        text-transform: capitalize; }
      header .utility-nav .utility-search form :-ms-input-placeholder {
        text-transform: capitalize; }
      @media (min-width: 40.0625em) {
        header .utility-nav .utility-search form ::-webkit-input-placeholder {
          text-transform: uppercase; }
        header .utility-nav .utility-search form :-moz-placeholder {
          text-transform: uppercase; }
        header .utility-nav .utility-search form ::-moz-placeholder {
          text-transform: uppercase; }
        header .utility-nav .utility-search form :-ms-input-placeholder {
          text-transform: uppercase; }
        header .utility-nav .utility-search form ::-webkit-input-placeholder {
          font-size: 1em; }
        header .utility-nav .utility-search form :-moz-placeholder {
          font-size: 1em; }
        header .utility-nav .utility-search form ::-moz-placeholder {
          font-size: 1em; }
        header .utility-nav .utility-search form :-ms-input-placeholder {
          font-size: 1em; } }
      header .utility-nav .utility-search form input {
        width: 100%;
        padding: 0.4375em 0.875em .75em;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border: none; }
        @media (min-width: 40.0625em) {
          header .utility-nav .utility-search form input {
            padding: 0.4375em 0.875em;
            width: 15em;
            border: #e6e7e8 solid 1px;
            -webkit-border-top-left-radius: 0;
            -webkit-border-top-right-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            -moz-border-radius-topleft: 0;
            -moz-border-radius-topright: 0;
            -moz-border-radius-bottomright: 0;
            -moz-border-radius-bottomleft: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0; } }
  header .primary-nav {
    float: left;
    width: 45%;
    border-right: #505050 solid 1px;
    padding: 2.5%;
    text-align: right;
    text-transform: capitalize;
    font-size: 0.875em;
    line-height: 2.25em; }
    @media (min-width: 40.0625em) {
      header .primary-nav {
        float: none;
        width: 100%;
        border: none;
        text-align: left;
        padding: 0;
        background-color: white; } }
    @media (min-width: 64.0625em) {
      header .primary-nav .wrapper {
        margin: 0 auto;
        overflow: hidden;
        width: 71em; } }
    @media (min-width: 90.0625em) {
      header .primary-nav .wrapper {
        width: 90em;
        margin: 0 auto; } }
    header .primary-nav .wrapper .primary-logo {
      display: none; }
      @media (min-width: 40.0625em) {
        header .primary-nav .wrapper .primary-logo {
          display: inherit;
          width: 100%;
          text-align: center;
          padding: 3% 0; }
          header .primary-nav .wrapper .primary-logo img {
            max-width: 38%;
            margin: 0 auto; } }
      @media (min-width: 64.0625em) {
        header .primary-nav .wrapper .primary-logo {
          float: left;
          width: 15.625em;
          padding: 0.875em 5%; }
          header .primary-nav .wrapper .primary-logo img {
            max-width: 250px;
            margin: 0; } }
    @media (min-width: 40.0625em) {
      header .primary-nav .wrapper nav {
        width: 45em;
        margin: 0 auto; } }
    @media (min-width: 64.0625em) {
      header .primary-nav .wrapper nav {
        width: 48em;
        float: left; } }
    @media (min-width: 90.0625em) {
      header .primary-nav .wrapper nav {
        width: 65.375em;
        float: left; } }
    header .primary-nav .wrapper nav ul {
      list-style: none; }
      @media (min-width: 40.0625em) {
        header .primary-nav .wrapper nav ul li {
          float: left;
          display: inline;
          text-align: center; } }
      header .primary-nav .wrapper nav ul li div.megamenu {
        display: none;
        color: #505050;
        font-family: "Lora", Times New Roman, serif;
        line-height: 1.25em;
        position: absolute;
        z-index: 9999;
        margin: 0 auto;
        left: 0;
        width: 100%; }
        header .primary-nav .wrapper nav ul li div.megamenu div.menu-shift {
          margin: 0 auto;
          width: 100%;
          overflow: hidden; }
          @media (min-width: 64.0625em) {
            header .primary-nav .wrapper nav ul li div.megamenu div.menu-shift {
              width: 71em;
              margin: 0 auto; } }
          @media (min-width: 90.0625em) {
            header .primary-nav .wrapper nav ul li div.megamenu div.menu-shift {
              width: 90em; } }
        header .primary-nav .wrapper nav ul li div.megamenu div.mega-container {
          overflow: hidden;
          background: white;
          border-bottom: solid 4px #0053a0;
          padding: 1em .5em;
          width: 100%;
          float: left; }
          @media (min-width: 64.0625em) {
            header .primary-nav .wrapper nav ul li div.megamenu div.mega-container {
              width: 48em;
              float: right; } }
          @media (min-width: 90.0625em) {
            header .primary-nav .wrapper nav ul li div.megamenu div.mega-container {
              width: 65.375em; } }
          header .primary-nav .wrapper nav ul li div.megamenu div.mega-container nav {
            font-family: "Lato", Arial, san-serif;
            float: left;
            width: 33%;
            border-right: solid 1px #e6e7e8;
            padding: 0 1em 0 0; }
            header .primary-nav .wrapper nav ul li div.megamenu div.mega-container nav ul li {
              clear: left;
              width: 100%;
              text-align: right; }
              header .primary-nav .wrapper nav ul li div.megamenu div.mega-container nav ul li a {
                -webkit-transition: color 0.2s ease;
                -moz-transition: color 0.2s ease;
                -o-transition: color 0.2s ease;
                transition: color 0.2s ease;
                border: none;
                color: #0053a0;
                padding: .5em; }
                header .primary-nav .wrapper nav ul li div.megamenu div.mega-container nav ul li a:hover {
                  background: white;
                  color: #505050; }
          header .primary-nav .wrapper nav ul li div.megamenu div.mega-container div {
            float: left;
            max-width: 60%;
            padding: 0 0 0 1.5em; }
            header .primary-nav .wrapper nav ul li div.megamenu div.mega-container div p {
              font-size: 1.1428571429em;
              line-height: 1.5em;
              max-width: 85%;
              padding-top: .125em;
              margin-top: 0;
              text-transform: none;
              text-align: left; }
              @media (min-width: 64.0625em) {
                header .primary-nav .wrapper nav ul li div.megamenu div.mega-container div p {
                  line-height: 1.375em; } }
      @media (min-width: 40.0625em) {
        header .primary-nav .wrapper nav ul li a {
          padding: 1em .6em .75em;
          border-bottom: white solid 4px;
          display: block; } }
      @media (min-width: 64.0625em) {
        header .primary-nav .wrapper nav ul li a {
          padding: 2.125em .755em; } }
      @media (min-width: 90.0625em) {
        header .primary-nav .wrapper nav ul li a {
          padding: 2.125em 1.625em; } }
      @media (min-width: 40.0625em) {
        header .primary-nav .wrapper nav ul li a:hover {
          /* fallback */
          background-color: #2c73b6;
          /* Mozilla Firefox */
          background-image: -moz-linear-gradient(#7fa7cf, #2c73b6);
          /* Opera */
          background-image: -o-linear-gradient(#7fa7cf, #2c73b6);
          /* Webkit (Safari 4+, Chrome 1+) */
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fa7cf), color-stop(1, #2c73b6));
          /* Webkit (Chrome 11+) */
          background-image: -webkit-linear-gradient(#7fa7cf, #2c73b6);
          /* IE10 */
          background-image: -ms-linear-gradient(#7fa7cf, #2c73b6);
          /* W3C */
          background-image: linear-gradient(#7fa7cf, #2c73b6);
          color: white;
          border-bottom: #0053a0 solid 4px; } }
      @media (min-width: 40.0625em) {
        header .primary-nav .wrapper nav ul li:hover > div.megamenu {
          display: block; } }
      @media (min-width: 40.0625em) {
        header .primary-nav .wrapper nav ul li + li {
          margin: 0 0 0 1px; } }
      @media (min-width: 64.0625em) {
        header .primary-nav .wrapper nav ul li + li {
          margin: 0 0 0 2px; } }
  header .secondary-nav {
    float: left;
    padding: 2.5%;
    text-transform: capitalize;
    font-size: 0.875em;
    line-height: 2.25em;
    width: 44%;
    border: none;
    text-align: left; }
    @media (min-width: 40.0625em) {
      header .secondary-nav {
        clear: left;
        background: #505050;
        color: white;
        width: 100%;
        margin: 0;
        padding: 0; } }
    @media (min-width: 40.0625em) {
      header .secondary-nav .wrapper {
        margin: 0 auto;
        overflow: hidden;
        width: 44.5em; } }
    @media (min-width: 90.0625em) {
      header .secondary-nav .wrapper {
        width: 48em;
        margin: 0 auto; } }
    @media (min-width: 40.0625em) {
      header .secondary-nav .wrapper nav {
        margin: 0;
        padding: 0; } }
    @media (min-width: 40.0625em) {
      header .secondary-nav .wrapper nav ul li {
        display: inline;
        float: left; } }
    header .secondary-nav .wrapper nav ul li div.megamenu {
      display: none;
      color: #505050;
      font-family: "Lora", Times New Roman, serif;
      line-height: 1.25em;
      position: absolute;
      z-index: 9999;
      margin: 0 auto;
      left: 0;
      width: 100%; }
      header .secondary-nav .wrapper nav ul li div.megamenu div.mega-container {
        width: 100%;
        background-color: white;
        border-bottom: solid 4px #0053a0;
        padding: 1em .5em;
        overflow: hidden; }
        @media (min-width: 90.0625em) {
          header .secondary-nav .wrapper nav ul li div.megamenu div.mega-container {
            max-width: 48em;
            margin: 0 auto; } }
        header .secondary-nav .wrapper nav ul li div.megamenu div.mega-container nav {
          font-family: "Lato", Arial, san-serif;
          float: left;
          width: 33%;
          border-right: solid 1px #e6e7e8;
          padding: 0 1em 0 0; }
          header .secondary-nav .wrapper nav ul li div.megamenu div.mega-container nav ul li {
            clear: left;
            width: 100%;
            text-align: right; }
            header .secondary-nav .wrapper nav ul li div.megamenu div.mega-container nav ul li a {
              -webkit-transition: color 0.2s ease;
              -moz-transition: color 0.2s ease;
              -o-transition: color 0.2s ease;
              transition: color 0.2s ease; }
              header .secondary-nav .wrapper nav ul li div.megamenu div.mega-container nav ul li a:hover {
                background: white;
                color: #505050; }
        header .secondary-nav .wrapper nav ul li div.megamenu div.mega-container div {
          float: left;
          max-width: 60%;
          padding: 0 0 0 1.5em; }
          header .secondary-nav .wrapper nav ul li div.megamenu div.mega-container div p {
            font-size: 1.1428571429em;
            line-height: 1.5em;
            max-width: 85%;
            padding-top: .125em;
            margin-top: 0;
            text-transform: none; }
            @media (min-width: 64.0625em) {
              header .secondary-nav .wrapper nav ul li div.megamenu div.mega-container div p {
                line-height: 1.375em; } }
    @media (min-width: 40.0625em) {
      header .secondary-nav .wrapper nav ul li + li {
        margin: 0 0 0 2px; } }
    header .secondary-nav .wrapper nav ul li a {
      color: white; }
      @media (min-width: 40.0625em) {
        header .secondary-nav .wrapper nav ul li a {
          padding: .5em .875em;
          text-transform: uppercase;
          font-size: .75em;
          display: block; } }
      @media (min-width: 90.0625em) {
        header .secondary-nav .wrapper nav ul li a {
          padding: .5em 1.25em; } }
    @media (min-width: 40.0625em) {
      header .secondary-nav .wrapper nav ul li:hover {
        /* fallback */
        background-color: #a8aaad;
        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(#e6e7e8, #a8aaad);
        /* Opera */
        background-image: -o-linear-gradient(#e6e7e8, #a8aaad);
        /* Webkit (Safari 4+, Chrome 1+) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e7e8), color-stop(1, #a8aaad));
        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(#e6e7e8, #a8aaad);
        /* IE10 */
        background-image: -ms-linear-gradient(#e6e7e8, #a8aaad);
        /* W3C */
        background-image: linear-gradient(#e6e7e8, #a8aaad); } }
    @media (min-width: 40.0625em) {
      header .secondary-nav .wrapper nav ul li:hover a {
        color: #0053a0; } }
    @media (min-width: 40.0625em) {
      header .secondary-nav .wrapper nav ul li:hover > div.megamenu {
        display: block; } }

.mobile-header {
  clear: both;
  width: 100%;
  text-align: center;
  background-color: white;
  border-bottom: solid 1px #fbfbfb;
  overflow: hidden; }
  .mobile-header .mobile-logo {
    width: 79%;
    float: left;
    padding: 5% 3%; }
    .mobile-header .mobile-logo img {
      width: 80%; }
  .mobile-header .toggle-mobile {
    width: 8%;
    float: right;
    padding: 11% 7% 6% 0%; }
  @media (min-width: 40.0625em) {
    .mobile-header {
      display: none; } }

section.prime-carousel {
  width: 100%; }
  section.prime-carousel div.prime-slide div.slide-content {
    position: absolute;
    z-index: 100;
    color: white;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.5);
    padding: 3%;
    bottom: 0;
    box-sizing: border-box; }
    @media (min-width: 40.0625em) {
      section.prime-carousel div.prime-slide div.slide-content {
        padding: 3% 9%; } }
    section.prime-carousel div.prime-slide div.slide-content h1 {
      margin: 0;
      color: white;
      margin-bottom: .75em;
      font-style: italic; }
      @media (min-width: 40.0625em) {
        section.prime-carousel div.prime-slide div.slide-content h1 {
          margin-bottom: auto; } }
    section.prime-carousel div.prime-slide div.slide-content p {
      display: none; }
      @media (min-width: 40.0625em) {
        section.prime-carousel div.prime-slide div.slide-content p {
          display: inherit; } }
    section.prime-carousel div.prime-slide div.slide-content button {
      /* fallback */
      background-color: #2c73b6;
      /* Mozilla Firefox */
      background-image: -moz-linear-gradient(#7fa7cf, #2c73b6);
      /* Opera */
      background-image: -o-linear-gradient(#7fa7cf, #2c73b6);
      /* Webkit (Safari 4+, Chrome 1+) */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fa7cf), color-stop(1, #2c73b6));
      /* Webkit (Chrome 11+) */
      background-image: -webkit-linear-gradient(#7fa7cf, #2c73b6);
      /* IE10 */
      background-image: -ms-linear-gradient(#7fa7cf, #2c73b6);
      /* W3C */
      background-image: linear-gradient(#7fa7cf, #2c73b6);
      border: none;
      padding: .75em 1.5em; }
      section.prime-carousel div.prime-slide div.slide-content button a {
        font-family: "Lato", Arial, san-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: .875em; }
  section.prime-carousel div.owl-controls {
    position: absolute;
    z-index: 200;
    width: 100%;
    top: 50%; }
    section.prime-carousel div.owl-controls div.owl-nav {
      text-indent: -500em;
      overflow: hidden; }
      section.prime-carousel div.owl-controls div.owl-nav div.owl-prev {
        display: block;
        width: 25px;
        height: 30px;
        float: left;
        background-image: url(../../images/svg/leftarrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px auto; }
      section.prime-carousel div.owl-controls div.owl-nav div.owl-next {
        display: block;
        width: 25px;
        height: 30px;
        overflow: hidden;
        float: right;
        background-image: url(../../images/svg/rightarrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px auto; }

section.current-news {
  background-color: #f0f0f0;
  width: 100%;
  position: relative;
  z-index: 1; }
  section.current-news .wrapper {
    width: 90%;
    padding: 1em 0;
    margin: 0 auto; }
    @media (min-width: 64.0625em) {
      section.current-news .wrapper {
        margin: 0 auto;
        overflow: hidden;
        width: 60em; } }
    @media (min-width: 90.0625em) {
      section.current-news .wrapper {
        width: 64em;
        margin: 0 auto; } }
  section.current-news h1 {
    font-weight: 400;
    color: #2c73b6;
    font-size: 1.875em;
    text-transform: capitalize;
    padding-bottom: .5em;
    margin: 0; }
  section.current-news #news .item {
    padding: 0 5px;
    text-align: center; }
    section.current-news #news .item img {
      padding-bottom: 5px; }
    section.current-news #news .item a {
      text-decoration: none;
      color: #313131;
      text-transform: capitalize;
      -webkit-transition: color 0.2s ease;
      -moz-transition: color 0.2s ease;
      -o-transition: color 0.2s ease;
      transition: color 0.2s ease; }
      section.current-news #news .item a:hover {
        color: #0053a0; }

section.featured-content {
  padding: 1.75em 0; }
  section.featured-content div.wrapper {
    width: 90%;
    padding: 1em 0;
    margin: 0 auto;
    overflow: hidden; }
    @media (min-width: 64.0625em) {
      section.featured-content div.wrapper {
        margin: 0 auto;
        overflow: hidden;
        width: 60em; } }
    @media (min-width: 90.0625em) {
      section.featured-content div.wrapper {
        width: 64em;
        margin: 0 auto; } }
    section.featured-content div.wrapper section.student-profiles {
      text-align: center;
      margin: 0 auto 1em;
      display: none; }
      @media (min-width: 64.0625em) {
        section.featured-content div.wrapper section.student-profiles {
          display: inherit;
          width: 25%;
          float: left; } }
      section.featured-content div.wrapper section.student-profiles h1 {
        margin: 0;
        font-size: 1.875em;
        padding: .5em 0; }
      section.featured-content div.wrapper section.student-profiles a {
        text-decoration: none; }
        section.featured-content div.wrapper section.student-profiles a img {
          max-width: 200px; }
        section.featured-content div.wrapper section.student-profiles a h2 {
          font-size: 1.5em;
          font-weight: bold; }
        section.featured-content div.wrapper section.student-profiles a h3 {
          font-size: .875em; }
    section.featured-content div.wrapper section.featured-video {
      clear: left; }
      @media (min-width: 64.0625em) {
        section.featured-content div.wrapper section.featured-video {
          clear: none;
          float: left;
          width: 72%;
          margin-right: 3%; } }
      section.featured-content div.wrapper section.featured-video h1 {
        margin: 0 0 .5em 0;
        padding: .25em 0;
        text-transform: capitalize;
        font-size: 1.875em; }
      section.featured-content div.wrapper section.featured-video .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0; }
        section.featured-content div.wrapper section.featured-video .video-wrapper iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }

section.by-the-numbers {
  height: 65px;
  background-image: url(../../images/png/bythenumbersbg.png);
  background-repeat: repeat-x;
  color: white;
  display: none; }
  @media (min-width: 40.0625em) {
    section.by-the-numbers {
      display: inherit; } }
  section.by-the-numbers .wrapper {
    padding: 0;
    margin: 0;
    overflow: hidden; }
    @media (min-width: 64.0625em) {
      section.by-the-numbers .wrapper {
        width: 60em;
        margin: 0 auto; } }
    @media (min-width: 90.0625em) {
      section.by-the-numbers .wrapper {
        width: 75em; } }
    section.by-the-numbers .wrapper h1 {
      color: white;
      display: block;
      background-color: #0053a0;
      font-weight: 700;
      font-size: 1.875em;
      margin: 0;
      height: 65px;
      box-sizing: border-box;
      padding: .375em .5em;
      max-width: 7.75em;
      float: left; }
      @media (min-width: 64.0625em) {
        section.by-the-numbers .wrapper h1 {
          padding: .5em; } }
      @media (min-width: 90.0625em) {
        section.by-the-numbers .wrapper h1 {
          padding: .55em .5em; } }
      section.by-the-numbers .wrapper h1 span.italicized {
        font-family: "Merriweather", serif;
        font-weight: normal;
        font-size: .625em; }
    section.by-the-numbers .wrapper div.quick-facts {
      float: left;
      margin-top: 15px;
      height: 50px;
      box-sizing: border-box;
      width: 25.5em;
      font-family: "Lato", Arial, san-serif;
      overflow: hidden;
      position: relative; }
      section.by-the-numbers .wrapper div.quick-facts div.clue2, section.by-the-numbers .wrapper div.quick-facts div.clue3 {
        display: none; }
      @media (min-width: 64.0625em) {
        section.by-the-numbers .wrapper div.quick-facts {
          width: 45em; }
          section.by-the-numbers .wrapper div.quick-facts div.clue2 {
            display: inherit; } }
      @media (min-width: 90.0625em) {
        section.by-the-numbers .wrapper div.quick-facts {
          width: 60em; }
          section.by-the-numbers .wrapper div.quick-facts div.clue3 {
            display: inherit; } }
      section.by-the-numbers .wrapper div.quick-facts div.clue1, section.by-the-numbers .wrapper div.quick-facts div.clue2, section.by-the-numbers .wrapper div.quick-facts div.clue3 {
        float: left; }
        section.by-the-numbers .wrapper div.quick-facts div.clue1 div.number, section.by-the-numbers .wrapper div.quick-facts div.clue2 div.number, section.by-the-numbers .wrapper div.quick-facts div.clue3 div.number {
          float: left;
          height: 50px;
          background-color: #002447;
          font-size: 1.25em;
          box-sizing: border-box;
          width: 3.75em;
          position: relative;
          text-align: center; }
          section.by-the-numbers .wrapper div.quick-facts div.clue1 div.number::before, section.by-the-numbers .wrapper div.quick-facts div.clue2 div.number::before, section.by-the-numbers .wrapper div.quick-facts div.clue3 div.number::before {
            content: "";
            display: inline-block;
            height: 100%;
            width: 1%;
            vertical-align: middle; }
          section.by-the-numbers .wrapper div.quick-facts div.clue1 div.number h2, section.by-the-numbers .wrapper div.quick-facts div.clue2 div.number h2, section.by-the-numbers .wrapper div.quick-facts div.clue3 div.number h2 {
            color: white;
            font-size: .875em;
            display: inline-block;
            vertical-align: middle; }
        section.by-the-numbers .wrapper div.quick-facts div.clue1 div.fact, section.by-the-numbers .wrapper div.quick-facts div.clue2 div.fact, section.by-the-numbers .wrapper div.quick-facts div.clue3 div.fact {
          float: left;
          height: 50px;
          width: auto;
          font-size: .875em;
          box-sizing: border-box;
          padding-left: 1em;
          padding-right: 1em;
          line-height: 1.25em;
          width: 23em;
          position: relative; }
          section.by-the-numbers .wrapper div.quick-facts div.clue1 div.fact::before, section.by-the-numbers .wrapper div.quick-facts div.clue2 div.fact::before, section.by-the-numbers .wrapper div.quick-facts div.clue3 div.fact::before {
            content: "";
            display: inline-block;
            height: 100%;
            width: 1%;
            vertical-align: middle; }
          section.by-the-numbers .wrapper div.quick-facts div.clue1 div.fact p, section.by-the-numbers .wrapper div.quick-facts div.clue2 div.fact p, section.by-the-numbers .wrapper div.quick-facts div.clue3 div.fact p {
            margin: 0;
            padding: 0;
            display: inline-block;
            vertical-align: middle; }
          @media (min-width: 64.0625em) {
            section.by-the-numbers .wrapper div.quick-facts div.clue1 div.fact, section.by-the-numbers .wrapper div.quick-facts div.clue2 div.fact, section.by-the-numbers .wrapper div.quick-facts div.clue3 div.fact {
              width: 16em; } }

section.call-to-action {
  background: url(../../images/jpg/calltoactionbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  padding: 3.125em 0;
  width: 100%;
  box-sizing: border-box; }
  section.call-to-action .wrapper {
    width: 90%;
    padding: 1em 0;
    margin: 0 auto;
    overflow: hidden; }
    @media (min-width 40.0625em) {
      section.call-to-action .wrapper {
        width: 38em; } }
    @media (min-width: 64.0625em) {
      section.call-to-action .wrapper {
        width: 62em; } }
    @media (min-width: 90.0625em) {
      section.call-to-action .wrapper {
        width: 88em; } }
    section.call-to-action .wrapper ul.badges {
      padding: 0;
      margin: 0;
      text-align: center; }
      section.call-to-action .wrapper ul.badges li.clicky {
        list-style-type: none;
        max-width: 269px;
        display: inline-block;
        margin: 1% 1% 0 0; }
        @media (min-width: 58.375em) and (max-width: 90em) {
          section.call-to-action .wrapper ul.badges li.clicky:last-child {
            display: none; } }
        @media (max-width: 40em) {
          section.call-to-action .wrapper ul.badges li.clicky:last-child {
            display: none; } }
        @media (max-width: 40em) {
          section.call-to-action .wrapper ul.badges li.clicky:first-child {
            display: none; } }

section.photo-feed .wrapper {
  width: 90%;
  padding: 1em 0;
  margin: 0 auto; }
  @media (min-width: 64.0625em) {
    section.photo-feed .wrapper {
      margin: 0 auto;
      overflow: hidden;
      width: 60em; } }
  @media (min-width: 90.0625em) {
    section.photo-feed .wrapper {
      width: 64em;
      margin: 0 auto; } }
  section.photo-feed .wrapper h1 {
    margin: 0;
    padding-bottom: .375em;
    text-transform: capitalize;
    font-size: 1.875em; }
  section.photo-feed .wrapper div#instagram div.item {
    float: left;
    width: 24.225%; }
    section.photo-feed .wrapper div#instagram div.item a img {
      max-width: 640px;
      max-height: 640px;
      width: 100%; }
    section.photo-feed .wrapper div#instagram div.item + div.item {
      margin-left: 1%; }

.template-content a {
  text-decoration: underline;
  color: #0053a0;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  .template-content a:hover {
    text-decoration: none;
    color: #313131; }
.template-content .hero-image {
  max-height: 10em;
  overflow: hidden; }
  @media (min-width: 40.0625em) {
    .template-content .hero-image {
      max-height: 14em; } }
  @media (min-width: 90.0625em) {
    .template-content .hero-image {
      max-height: 18em; } }
  .template-content .hero-image picture img {
    width: 100%; }
.template-content .wrapper {
  width: 90%;
  padding: 0 5%;
  margin: 0 auto;
  overflow: hidden; }
  @media (min-width: 40.0625em) {
    .template-content .wrapper {
      width: 38em;
      padding: 0 1em; } }
  @media (min-width: 64.0625em) {
    .template-content .wrapper {
      width: 60em; } }
  .template-content .wrapper .side-nav {
    font-family: "Lato", Arial, san-serif; }
    .template-content .wrapper .side-nav nav {
      padding: 5% 2%;
      width: 96%;
      overflow: hidden; }
      @media (min-width: 40.0625em) {
        .template-content .wrapper .side-nav nav {
          padding: 5% 3% 5% 0;
          float: left;
          width: 22%; } }
      @media (min-width: 64.0625em) {
        .template-content .wrapper .side-nav nav {
          float: left;
          padding-right: 4%;
          width: 21%; } }
      @media (min-width: 90.0625em) {
        .template-content .wrapper .side-nav nav {
          width: 18%; } }
      .template-content .wrapper .side-nav nav ul {
        margin: 0;
        padding: 0;
        border-top: solid 1px #f0f0f0;
        border-left: solid 1px #f0f0f0;
        border-right: solid 1px #f0f0f0; }
        @media (min-width: 40.0625em) {
          .template-content .wrapper .side-nav nav ul {
            border: none; } }
        .template-content .wrapper .side-nav nav ul li {
          padding: .5em;
          list-style-type: none;
          border-bottom: solid 1px #f0f0f0;
          background-color: #fbfbfb; }
          @media (min-width: 40.0625em) {
            .template-content .wrapper .side-nav nav ul li {
              padding: 0;
              margin-bottom: 1em;
              border: none;
              background-color: white; } }
          .template-content .wrapper .side-nav nav ul li a {
            text-decoration: none;
            color: #2c73b6;
            display: block;
            padding-left: 1em;
            -webkit-transition: color 0.5s ease;
            -moz-transition: color 0.5s ease;
            -o-transition: color 0.5s ease;
            transition: color 0.5s ease; }
            .template-content .wrapper .side-nav nav ul li a:hover {
              color: #313131; }
          .template-content .wrapper .side-nav nav ul li ul {
            margin-top: .5em;
            border: none;
            background-color: #f0f0f0; }
            @media (min-width: 40.0625em) {
              .template-content .wrapper .side-nav nav ul li ul {
                margin-left: 1em;
                margin-top: 1em;
                background-color: white; } }
            .template-content .wrapper .side-nav nav ul li ul li {
              border: none;
              background-color: #f0f0f0; }
              @media (min-width: 40.0625em) {
                .template-content .wrapper .side-nav nav ul li ul li {
                  background-color: white; } }
              .template-content .wrapper .side-nav nav ul li ul li:last-item {
                margin-bottom: 0; }
  .template-content .wrapper .main-content {
    padding: 5% 0;
    float: left;
    width: 100%; }
    @media (min-width: 40.0625em) {
      .template-content .wrapper .main-content {
        width: 75%; } }
    @media (min-width: 90.0625em) {
      .template-content .wrapper .main-content {
        width: 79%; } }
    @media (min-width: 90.0625em) {
      .template-content .wrapper .main-content {
        width: 76%; } }
    .template-content .wrapper .main-content #crumbTrail {
      font-family: "Lato", Arial, san-serif;
      margin: 0;
      padding: 0 0 1em 0;
      list-style: none;
      color: #0053a0; }
      .template-content .wrapper .main-content #crumbTrail li {
        display: inline; }
        .template-content .wrapper .main-content #crumbTrail li a {
          color: #0053a0;
          text-decoration: none;
          border-bottom: dotted #0053a0 1px;
          -webkit-transition: color 0.5s ease;
          -moz-transition: color 0.5s ease;
          -o-transition: color 0.5s ease;
          transition: color 0.5s ease; }
          .template-content .wrapper .main-content #crumbTrail li a:hover {
            color: #313131;
            border-bottom: none; }
    .template-content .wrapper .main-content h1, .template-content .wrapper .main-content h2, .template-content .wrapper .main-content h3, .template-content .wrapper .main-content h4, .template-content .wrapper .main-content h5, .template-content .wrapper .main-content h6 {
      padding: 1% 0;
      margin: 0; }
    .template-content .wrapper .main-content figure {
      color: white;
      background-color: #2c73b6;
      float: right;
      font-family: "Lato", Arial, san-serif;
      font-size: .75em; }
      .template-content .wrapper .main-content figure img {
        width: 100%; }
      .template-content .wrapper .main-content figure figcaption {
        padding: 1% 2% 3%;
        text-align: center; }

footer {
  width: 100%;
  clear: left; }
  footer div.wrapper {
    width: 90%;
    padding: 1em 0;
    margin: 0 auto;
    overflow: hidden; }
    @media (min-width: 64.0625em) {
      footer div.wrapper {
        margin: 0 auto;
        overflow: hidden;
        width: 60em; } }
    @media (min-width: 90.0625em) {
      footer div.wrapper {
        width: 64em;
        margin: 0 auto; } }
    footer div.wrapper section.footer-sitemap {
      display: none;
      width: 50%;
      float: left;
      padding-top: 1em; }
      @media (min-width: 64.0625em) {
        footer div.wrapper section.footer-sitemap {
          display: inherit; } }
      @media (min-width: 90.0625em) {
        footer div.wrapper section.footer-sitemap {
          width: 33%; } }
      footer div.wrapper section.footer-sitemap ul {
        margin: 0;
        padding: 0;
        max-width: 50%;
        float: left;
        box-sizing: border-box;
        padding-right: 1.5em; }
        footer div.wrapper section.footer-sitemap ul li {
          list-style-type: none; }
          footer div.wrapper section.footer-sitemap ul li a {
            font-family: "Lato", Arial, san-serif;
            font-size: .875em;
            color: #313131; }
            footer div.wrapper section.footer-sitemap ul li a:hover {
              color: #0053a0; }
    footer div.wrapper section.footer-social {
      display: none;
      width: 33%;
      float: left;
      padding-top: 1em; }
      @media (min-width: 90.0625em) {
        footer div.wrapper section.footer-social {
          display: inherit; } }
      footer div.wrapper section.footer-social ul {
        margin: 0;
        padding: 0; }
        footer div.wrapper section.footer-social ul li {
          list-style-type: none;
          display: block;
          max-width: 18.4%;
          float: left;
          min-width: 60px;
          min-height: 60px; }
          footer div.wrapper section.footer-social ul li + li {
            margin-left: 2%; }
          footer div.wrapper section.footer-social ul li a img {
            opacity: .8;
            -webkit-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
            width: 100%; }
          footer div.wrapper section.footer-social ul li a:hover img {
            opacity: 1; }
    footer div.wrapper section.footer-contact {
      width: 100%;
      float: left;
      padding-top: 1em; }
      @media (min-width: 64.0625em) {
        footer div.wrapper section.footer-contact {
          width: 50%; } }
      @media (min-width: 90.0625em) {
        footer div.wrapper section.footer-contact {
          width: 33%; } }
      footer div.wrapper section.footer-contact a {
        color: #313131; }
        footer div.wrapper section.footer-contact a:hover {
          color: #0053a0; }
      footer div.wrapper section.footer-contact div.left-half {
        float: left;
        width: 100%; }
        @media (min-width: 40.0625em) {
          footer div.wrapper section.footer-contact div.left-half {
            width: 50%; } }
        @media (min-width: 64.0625em) {
          footer div.wrapper section.footer-contact div.left-half {
            width: 100%; } }
        footer div.wrapper section.footer-contact div.left-half div.logo {
          max-width: 75%;
          margin: 0 auto; }
          footer div.wrapper section.footer-contact div.left-half div.logo img {
            width: 100%; }
        footer div.wrapper section.footer-contact div.left-half address {
          padding-top: 1em;
          max-width: 75%;
          margin: 0 auto;
          font-family: "Lato", Arial, san-serif;
          font-style: normal;
          font-size: 1em;
          line-height: 1.375em; }
      footer div.wrapper section.footer-contact div.right-half {
        float: right;
        width: 100%; }
        @media (min-width: 40.0625em) {
          footer div.wrapper section.footer-contact div.right-half {
            width: 50%; } }
        @media (min-width: 64.0625em) {
          footer div.wrapper section.footer-contact div.right-half {
            width: 100%; } }
        footer div.wrapper section.footer-contact div.right-half div.eo-statement {
          max-width: 75%;
          margin: 0 auto;
          color: #929292;
          font-size: .75em;
          line-height: 1.33em; }
          @media (min-width: 40.0625em) {
            footer div.wrapper section.footer-contact div.right-half div.eo-statement {
              width: 100%; } }
          @media (min-width: 64.0625em) {
            footer div.wrapper section.footer-contact div.right-half div.eo-statement {
              width: 75%; } }
        footer div.wrapper section.footer-contact div.right-half div.bugs {
          width: 16em;
          text-align: center;
          margin: 0 auto; }
          footer div.wrapper section.footer-contact div.right-half div.bugs ul {
            margin: 0;
            padding: 0; }
            footer div.wrapper section.footer-contact div.right-half div.bugs ul li {
              list-style-type: none;
              max-width: 33%;
              display: inline-block; }
              footer div.wrapper section.footer-contact div.right-half div.bugs ul li img {
                width: 100%; }
              footer div.wrapper section.footer-contact div.right-half div.bugs ul li + li {
                margin-left: 1em; }
  footer h1 {
    text-transform: capitalize;
    padding-bottom: .25em;
    font-weight: 400;
    font-size: 1.875em;
    margin: 0; }
  footer section.footer-heel {
    background-color: #505050;
    color: white;
    text-align: center;
    padding: 1.5em;
    font-family: "Lato", Arial, san-serif;
    font-size: .75em; }
    footer section.footer-heel a {
      color: #47a3f7; }
      footer section.footer-heel a:hover {
        color: white; }
  footer a {
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    text-decoration: none; }
