section.current-news {
	background-color: $twoforty-grey;
	width: 100%;
	position: relative; // to fix google fonts in Safari
	z-index: 1; // to fix google fonts in Safari

	.wrapper {
		width: 90%;
		padding: 1em 0;
		margin: 0 auto;
		
		@media (min-width: 64.0625em) {
			margin: 0 auto;
			overflow: hidden;
			width: 60em;
		}
		
		@media (min-width: 90.0625em) {
			width: 64em;
			margin: 0 auto;
		}
	}
	
	h1 {
		font-weight:400;
		color: $light-blue;
		font-size: 1.875em;
		text-transform: capitalize;
		padding-bottom: .5em;
		margin: 0;
	}
	
	#news .item {
		padding: 0 5px;
		text-align: center;
		
		img {
			padding-bottom: 5px;
		}
		a {
			text-decoration: none;
			color: $charcoal-grey;
			text-transform: capitalize;
			@include transition (color, 0.2s, ease);
			
			&:hover {
				color: $tsu-blue;
			}
		}
	}
	
	div.more-news {
		width: 100%;
		text-align: right;
		
		a {
			margin-right: 1em;
			font-family: $font-sans;
			font-size: .875em;
			font-style: italic;
			color: $middle-blue;
			@include transition (color, 0.2s, ease);
			
			&:hover {
				color: $tsu-blue;
			}
		}
	}
}