@media print {
	
	body {
		font-size: 12pt;
		line-height: 1.25em;
	}
	
	h1 {
		font-size: 36pt;
		line-height: 1.25em;
	}
	
	h2 {
		font-size: 24pt;
		line-height: 1.25em;
	}
	
	h3 {
		font-size: 18pt;
		line-height: 1.25em;
	}
	
	h4 {
		font-size: 14pt;
		line-height: 1.25em;
	}
	
	blockquote {
		font-size: 24pt;
		line-height: 1.45833333em;
	}
}

body {
	font-size: 1em;
	line-height: 1.25em;
	margin: 0; // normailze
	
	@media (min-width: 64.0625em) {
		line-height: 1.375em;
	}
}

h1, h2, h3, h4, h5, h6, blockquote {
	font-family: $font-sans;
	margin: 0 .67em 0; // normailze
	color: $tsu-blue;
	font-weight: 400;
}

h1 {
	font-size: 2em;
	line-height: 1.25em;
	
	@media (min-width: 64.0625em) {
		font-size: 2.5em;
		line-height: 1.125em;
	}
	
	@media (min-width: 90.0625em) {
		font-size: 3em;
		line-height: 1.05em;
	}
}

h2 {
	font-size: 1.625em;
	line-height: 1.15384615em;
	
	@media (min-width: 64.0625em) {
		font-size: 2em;
		line-height: 1.25em;
	}
	
	@media (min-width: 90.0625em) {
		font-size: 2.25em;
	}
}

h3 {
	font-size: 1.375em;
	line-height: 1.13636364em;
	
	@media (min-width: 64.0625em) {
		font-size: 1.5em;
		line-height: 1.25em;
	}
	
	@media (min-width: 90.0625em) {
		font-size: 1.75em;
	}
}

h4 {
	font-size: 1.125em;
	line-height: 1.11111111em;
	
	@media (min-width: 64.0625em) {
		line-height: 1.22222222em;
	}
}

blockquote {
	font-size: 1.25em;
	line-height: 1.25em;
	
	@media (min-width: 64.0625em) {
		font-size: 1.5em;
		line-height: 1.45833333em;
	}
}