//blues
$tsu-blue: rgba(0,83,160,1);
$middle-blue: rgba(0,51,102,1);
$dark-blue: rgba(0,36,71,1);
$light-blue: rgba(44,115,182,1);
$gradient-blue: rgba(127,167,207,1);
$footer-blue: rgba(71,163,247,1);
$call-to-action-blue: rgba(45,116,182,.88);

//greys
$eighty-grey: rgba(80,80,80,1);
$text-grey: rgba(146,146,146,1);
$charcoal-grey: rgba(49,49,49,1);
$light-grey-gradient: rgba(230,231,232,1);
$dark-grey-gradient: rgba(168,170,173,1);
$ghost-grey: rgba(251,251,251,1);
$twoforty-grey: rgba(240,240,240,1);

//fonts
$font-sans: 'Lato', Arial, san-serif;
$font-serif: 'Lora', Times New Roman, serif;
$font-display: 'Merriweather', serif;

//misc
$moblie-line-height: 2.25em;
$mobile-font-size: 0.875em;