// Import Mixins
@import "mixins.scss";

// Color Variables

	//blues
	$tsu-blue: rgba(0,83,160,1);
	$middle-blue: rgba(0,51,102,1);
	$dark-blue: rgba(0,36,71,1);
	$light-blue: rgba(44,115,182,1);
	$gradient-blue: rgba(127,167,207,1);
	$footer-blue: rgba(71,163,247,1);
	$call-to-action-blue: rgba(45,116,182,.88);
	
	//greys
	$eighty-grey: rgba(80,80,80,1);
	$text-grey: rgba(146,146,146,1);
	$charcoal-grey: rgba(49,49,49,1);
	$light-grey-gradient: rgba(230,231,232,1);
	$dark-grey-gradient: rgba(168,170,173,1);
	$ghost-grey: rgba(251,251,251,1);
	$twoforty-grey: rgba(240,240,240,1);
	
// Font Variables
	$font-sans: 'Lato', Verdana, san-serif;
	$font-serif: Georgia, serif;

// Typography
	html {
		font-size: 16px;
	}
	
	@media print {
		
		body {
			font-size: 12pt;
			line-height: 1.25em;
		}
		
		h1 {
			font-size: 36pt;
			line-height: 1.25em;
		}
		
		h2 {
			font-size: 24pt;
			line-height: 1.25em;
		}
		
		h3 {
			font-size: 18pt;
			line-height: 1.25em;
		}
		
		h4 {
			font-size: 14pt;
			line-height: 1.25em;
		}
		
		blockquote {
			font-size: 24pt;
			line-height: 1.45833333em;
		}
	}
	
	body {
		font-size: 1em;
		font-family: $font-serif;
		line-height: 1.25em;
		
		@media (min-width: 64.0625em) {
			line-height: 1.375em;
		}
	}
	
	h1, h2, h3, h4, h5, h6, blockquote {
		font-family: $font-sans;
	}
	
	h1 {
		font-size: 2em;
		line-height: 1.25em;
		
		@media (min-width: 64.0625em) {
			font-size: 2.5em;
			line-height: 1.125em;
		}
		
		@media (min-width: 90.0625em) {
			font-size: 3em;
			line-height: 1.05em;
		}
	}
	
	h2 {
		font-size: 1.625em;
		line-height: 1.15384615em;
		
		@media (min-width: 64.0625em) {
			font-size: 2em;
			line-height: 1.25em;
		}
		
		@media (min-width: 90.0625em) {
			font-size: 2.25em;
		}
	}
	
	h3 {
		font-size: 1.375em;
		line-height: 1.13636364em;
		
		@media (min-width: 64.0625em) {
			font-size: 1.5em;
			line-height: 1.25em;
		}
		
		@media (min-width: 90.0625em) {
			font-size: 1.75em;
		}
	}
	
	h4 {
		font-size: 1.125em;
		line-height: 1.11111111em;
		
		@media (min-width: 64.0625em) {
			line-height: 1.22222222em;
		}
	}
	
	blockquote {
		font-size: 1.25em;
		line-height: 1.25em;
		
		@media (min-width: 64.0625em) {
			font-size: 1.5em;
			line-height: 1.45833333em;
		}
	}

// Structure
	.lowercase {
		text-transform: lowercase;
	}
	.hidesmall {
		display: none;
		
		@media (min-width: 1025px) {
			display: inline;
		}
	}
	.emphasis {
		font-weight:700;
	}

// Responsive Testing -- DELETE THIS BEFORE GOING LIVE!
body {
	@media only screen and (max-width: 640px) {
		background-color: #1fc7ec; // teal
	}
	
	@media only screen and (min-width: 641px) and (max-width: 1024px) {
		background-color: #6c1ef4; // blue
	}
	
	@media only screen and (min-width: 1025px) and (max-width: 1440px) {
		background-color: #d427a7; //pink
	}
	
	@media only screen and (min-width: 1441px) and (max-width: 1920px) {
		background-color: #e45c22; //orange
	}
	
	@media only screen and (min-width: 1921px) {
		background-color: #b5ed30; //lime
	}
}
// End Responsive Testing

// Header

header {
	font-family: $font-sans;
	background-color: $charcoal-grey;
	width: 100%;
	font-size: 0.6875em;
	padding: 0 0 5% 0;
	overflow: hidden;
	
	a {
		text-decoration: none;
		color: white;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	@media (min-width: 641px) {
	background-color: rgba(49,49,49,0);
	padding: 0;
	
		a {
			color: $text-grey;
		}
	}
	
	@import "_headerutility.scss";
	@import "_headermain.scss";
	@import "_headersecond.scss";

	.mobile-close {
		clear: left;
		padding-top: 1em;
		
		a {
			display: block;
			width: 1em;
			float: right;
			margin: 0 10% 0 0;
		}
		
		@media (min-width: 641px) {
			display: none;
		}
	}
}

.mobile-header {
	background-color: white;
	padding: 5%;
	
	@media (min-width: 641px) {
		display: none;
	}
}

// Image Slideshow

// News Feed

@import "_currentnews.scss";

.home-fold {
	background-color: white;
	overflow: hidden;

	.wrapper {
		width: 100%;
		padding: 1.25em 1.5625em 2em 1.5625em;
		
		@media (min-width: 1025px) {
			width: 960px;
			margin: 0 auto;
		}
		
		@media (min-width: 1441px) {
			width: 1200px;
		}

		h1 {
			font-weight:400;
			color: $light-blue;
			font-size: 1.875em;
		}

	}

// Upcoming Events

// Featured Content & Videos

	.video_wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}


}

// TSU by the Numbers

.by-the-numbers {
	display: none;
	
	@media (min-width: 641px) {
		display: inherit;
		background-color: $middle-blue;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 50px;
		
		.wrapper {
			padding: 0;
			margin: 0;
			
			@media (min-width: 1025px) {
				width: 960px;
				margin: 0 auto;
			}
			
			@media (min-width: 1441px) {
				width: 1200px;
			}
		}
		
		h1 {
			color: white;
			font-size: 1.875em;
			font-weight: 400;
			display: block;
			margin: 0;
			background-color: $tsu-blue;
			padding: .5em;
			width: 270px;
			text-align: center;
			position: relative;
			top: -.7em;
			
			@media (min-width: 1025px) {
				top: -.55em;
			}
			
			@media (min-width: 1441px) {
				top: -.5em;
			}
			
			.style {
				font-family: 'Merriweather', serif;
				font-style: italic;
				font-size: .65em;
				font-weight: 300;
			}
		}
	}
}

// Call to Action

@import "_calltoaction.scss";

.instagramfeed {
	display: none;
	
	@media (min-width: 641px) {
		display: inherit;
		background-color: white;
		
		.wrapper {
			width: 100%;
			padding: 1.25em 1.5625em 2em 1.5625em;
			
			@media (min-width: 1025px) {
				width: 960px;
				margin: 0 auto;
			}
			
			@media (min-width: 1441px) {
				width: 1200px;
			}
	
			h1 {
				font-weight:400;
				color: $light-blue;
				font-size: 1.875em;
			}
		}
	}
}

// Footer
