// Import Mixins
@import "mixins.scss";

// Variables
@import "_variables.scss";

//Normalize -- normalize.css makes browsers render all elements more consistently and in line with modern standards, visit  https://github.com/necolas/normalize.css/blob/master/normalize.css for more details
@import "_normalize.scss";

// TYPOGRAPHY
@import "_typography.scss";

// MISC STYLING
.lowercase {
	text-transform: lowercase;
}
.hidesmall {
	display: none;
	
	@media (min-width: 90.0625em) {
		display: inline;
	}
}
.emphasis {
	font-weight: 700;
}
.italicized {
	font-style: oblique;
}
	
// HEADER
@import "_header.scss";

// SLIDESHOW

@import "_primeslide.scss";

// CURRENT NEWS

section.current-news {
	background-color: $twoforty-grey;
	width: 100%;
	position: relative; // to fix google fonts in Safari
	z-index: 1; // to fix google fonts in Safari

	.wrapper {
		width: 90%;
		padding: 1em 0;
		margin: 0 auto;
		
		@media (min-width: 64.0625em) {
			margin: 0 auto;
			overflow: hidden;
			width: 60em;
		}
		
		@media (min-width: 90.0625em) {
			width: 64em;
			margin: 0 auto;
		}
	}
	
	h1 {
		font-weight:400;
		color: $light-blue;
		font-size: 1.875em;
		text-transform: capitalize;
		padding-bottom: .5em;
		margin: 0;
	}
	
	#news .item {
		padding: 0 5px;
		text-align: center;
		
		img {
			padding-bottom: 5px;
		}
		a {
			text-decoration: none;
			color: $charcoal-grey;
			text-transform: capitalize;
			@include transition (color, 0.2s, ease);
			
			&:hover {
				color: $tsu-blue;
			}
		}
	}
}

// FEATURED CONTENT

@import "_featuredcontent.scss";

// TSU BY THE NUMBERS
@import "_bythenumbers.scss";

// CALL TO ACTION
section.call-to-action {
	background: url(../../images/jpg/calltoactionbg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	padding: 3.125em 0;
	width: 100%;
	box-sizing: border-box;
	
	.wrapper {
		width: 90%;
		padding: 1em 0;
		margin: 0 auto;
		overflow: hidden;
		
		@media (min-width 40.0625em) {
			width: 38em;
		}
		
		@media (min-width: 64.0625em) {
			width: 62em;
		}
		
		@media (min-width: 90.0625em) {
			width: 88em;
		}
		
		ul.badges {
			padding: 0;
			margin: 0;
			text-align: center;
			
			li.clicky {
				list-style-type: none;
				max-width: 269px;
				display: inline-block;
				margin: 1% 1% 0 0;
				
				&:last-child {
					
					@media (min-width: 58.375em) and (max-width: 90em) {
						display: none;
					}
					
					@media (max-width: 40em) {
						display: none;
					}
				}
				
				&:first-child {
					
					@media (max-width: 40em) {
						display: none;
					}
				}
			}
		}
	}
}

// INDEX INSTAGRAM FEED
section.photo-feed {
	
	.wrapper {
		width: 90%;
		padding: 1em 0;
		margin: 0 auto;
		
		@media (min-width: 64.0625em) {
			margin: 0 auto;
			overflow: hidden;
			width: 60em;
		}
		
		@media (min-width: 90.0625em) {
			width: 64em;
			margin: 0 auto;
		}
		
		h1{
			margin: 0;
			padding-bottom: .375em;
			text-transform: capitalize;
			font-size: 1.875em;
		}
		
		div#instagram {
			
			div.item {
				float: left;
				width: (96/5)*1%;
				
				a {
					
					img{
						max-width: 640px;
						max-height: 640px;
						width: 100%;
						
					}
				}
				
				+ div.item {
					margin-left: 1%;
				}
			}
		}
	}
}

// INTERIOR PAGE TEMPLATE
.template-content {
	
	a {
		text-decoration: none;
		color: $tsu-blue;
		@include transition (color, 0.2s, ease);
		
		&:hover {
			text-decoration: underline;
			color: $charcoal-grey;
		}
	}
	
	.hero-image {
		max-height: 10em ;
		overflow: hidden;
		
		@media (min-width: 40.0625em){
			max-height: 14em;
		}
		
		@media (min-width: 90.0625em) {
			max-height: 18em;
		}
		
		picture {
			
			img {
				width: 100%;
			}
		}
	}
	
	.wrapper {
		width: 90%;
		padding:0 5%;
		margin: 0 auto;
		overflow: hidden;
		
		@media (min-width: 40.0625em){
			width: 38em;
			padding:0 1em;
		}
		
		@media (min-width: 64.0625em) {
			width: 60em;
		}
		
		table {
			border-collapse: inherit;
			border-spacing: inherit;
		}
		
		.side-nav {
			font-family: $font-sans;
			
			nav {
				padding: 5% 2%;
				width: 96%;
				overflow: hidden;
				
				@media (min-width: 40.0625em) {
					padding: 5% 3% 5% 0;
					float: left;
					width: 22%;
				}
				
				@media (min-width: 64.0625em){
					float: left;
					padding-right: 4%;
					width: 21%;
				}
				
				@media (min-width: 90.0625em) {
					width: 18%;
				}
				
				ul {
					margin: 0;
					padding: 0;
					border-top: solid 1px $twoforty-grey;
					border-left: solid 1px $twoforty-grey;
					border-right: solid 1px $twoforty-grey;
					
					@media (min-width: 40.0625em) {
						border: none;
					}
					
					li {
						padding: .5em;
						list-style-type: none;
						border-bottom: solid 1px $twoforty-grey;
						background-color: $ghost-grey;
						
						@media (min-width: 40.0625em) {
							padding: 0;
							margin-bottom: 1em;
							border: none;
							background-color: white;
						}
						
						a {
							text-decoration: none;
							color: $light-blue;
							display: block;
							padding-left: 1em;
							@include transition (color, 0.5s, ease);
							
							&:hover {
								color: $charcoal-grey;
							}
						}
						
						ul {
							margin-top: .5em;
							border: none;
							background-color: $twoforty-grey;
							
							@media (min-width: 40.0625em) {
								margin-left: 1em;
								margin-top: 1em;
								background-color: white;
							}
							
							li {
								border: none;
								background-color: $twoforty-grey;
								
								@media (min-width: 40.0625em) {
									background-color: white;
								}
								
								&:last-item {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
		}
		
		.main-content {
			padding: 5% 0;
			float: left;
			width: 100%;
			
			@media (min-width: 40.0625em) {
				width: 75%;
			}
			
			@media (min-width: 90.0625em) {
				width: 79%;
			}
			
			@media (min-width: 90.0625em) {
				width: 76%;
			}
			
			#crumbTrail {
				font-family: $font-sans;
				margin: 0;
				padding: 0 0 1em 0;
				list-style: none;
				color: $tsu-blue;
				
				li {
					display: inline;
					
					a {
						color: $tsu-blue;
						text-decoration: none;
						border-bottom: dotted $tsu-blue 1px;
						@include transition (color, 0.5s, ease);
						
						&:hover {
							color: $charcoal-grey;
							border-bottom: none;
						}
					}
				}
			}
			
			h1, h2, h3, h4, h5, h6 {
				padding: 1% 0;
				margin: 0;
			}
			
			figure {
				color: white;
				background-color: $light-blue;
				float: right;
				font-family: $font-sans;
				font-size: .75em;
				
				img {
					width: 100%;
				}
				
				figcaption {
					padding: 1% 2% 3%;
					text-align: center;
				}
			}
		}
	}
}

// FOOTER
@import "_footer.scss";
