// Import Mixins
@import "mixins.scss";

// Variables

	//blues
	$tsu-blue: rgba(0,83,160,1);
	$middle-blue: rgba(0,51,102,1);
	$dark-blue: rgba(0,36,71,1);
	$light-blue: rgba(44,115,182,1);
	$gradient-blue: rgba(127,167,207,1);
	$footer-blue: rgba(71,163,247,1);
	$call-to-action-blue: rgba(45,116,182,.88);
	
	//greys
	$eighty-grey: rgba(80,80,80,1);
	$text-grey: rgba(146,146,146,1);
	$charcoal-grey: rgba(49,49,49,1);
	$light-grey-gradient: rgba(230,231,232,1);
	$dark-grey-gradient: rgba(168,170,173,1);
	$ghost-grey: rgba(251,251,251,1);
	$twoforty-grey: rgba(240,240,240,1);
	
	//fonts
	$font-sans: 'Lato', Arial, san-serif;
	$font-serif: 'Lora', Times New Roman, serif;
	$font-display: 'Merriweather', serif;
	
	//misc
	$moblie-line-height: 2.25em;
	$mobile-font-size: 0.875em;

//Normalize -- normalize.css makes browsers render all elements more consistently and in line with modern standards, visit  https://github.com/necolas/normalize.css/blob/master/normalize.css for more details
@import "_normalize.scss";

// TYPOGRAPHY
@import "_typography.scss";

// MISC STYLING
.lowercase {
	text-transform: lowercase;
}
.hidesmall {
	display: none;
	
	@media (min-width: 90.0625em) {
		display: inline;
	}
}
.emphasis {
	font-weight: 700;
}
.italicized {
	font-style: oblique;
}
	
// HEADER
header {
	font-family: $font-sans;
	background-color: $charcoal-grey;
	color: white;
	width: 100%;
	overflow: hidden;
	padding-bottom: 5%;
	
	a {
		text-decoration: none;
		color: white;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	@media (min-width: 40.0625em){
		background-color: rgba(49,49,49,0);
		padding: 0;
		color: $text-grey;
		
		a {
			color: $text-grey;
		}
		
	}
	
	// Utility Navigation
	.utility-nav {
		padding: 2% 5% 5% 5%;
		text-transform: uppercase;
		overflow: hidden;
		font-size: 0.6875em;
		
		@media (min-width: 40.0625em) {
			background-color: rgba(256, 256, 256, .95);
			padding: 0 2.5%;
			margin: 0 0 0 1em;
			border-bottom: $ghost-grey solid 1px;
			max-width: 95%;
			margin: 0 auto;
			
			.shift-right {
				float: right;
				width: 47em;
			}
		}
		
		ul li {
			float: left;
			position: relative;
			
			a {
				display: block;
				padding: 1em 0;
				
				@media (min-width: 40.0625em) {
					padding: 1em;
					margin: 0.25em 1em 0 0;
					@include transition (color, 0.2s, ease);
					
					&:hover {
						color: $tsu-blue;
					}
				}
			}
			
			+li {
				margin: 0 0 0 1em;
				
				@media (min-width: 40.0625em) {
					margin: inherit;
				}
			}
		}
		
		.close-mobile {
			float: right;
			
			a.toggle-menu {
				height: 12px;
				width: 17px;
				margin-top:15px;
				background-image: url(../../images/svg/hamburger.svg);
				background-repeat: no-repeat;
				overflow: hidden;
				text-indent: -500em;
				
			}
			
			@media (min-width: 40.0625em) {
				display: none;
			}
		}
		
		.utility-search {
			padding: 1em 2em 0 0;
			clear: both;
			max-width: 70%;
			min-width: 20em;
			margin: 0 auto;
			
			@media (min-width: 40.0625em) {
				clear: none;
				float: right;
			}
			
			form {
				@include placeholder-size (1.18181818em);
				@include placeholder-transform (capitalize);
				
				@media (min-width: 40.0625em) {
					@include placeholder-transform (uppercase);
					@include placeholder-size (1em);
				}
				
				input {
					width: 100%;
					padding: 0.4375em 0.875em .75em;
					@include border-radius (5px, 5px, 5px, 5px);
					border: none;
					
					@media (min-width: 40.0625em) {
						padding: 0.4375em 0.875em;
						width: 15em;
						border: $light-grey-gradient solid 1px;
						@include border-radius (0,0,0,0);
					}
				}
			}
		}
	}
	
	// primary navigation
	
	.primary-nav {
		float: left;
		width: 45%;
		border-right: $eighty-grey solid 1px;
		padding: 2.5%;
		text-align: right;
		text-transform: capitalize;
		font-size: $mobile-font-size;
		line-height: $moblie-line-height;
		
		@media (min-width: 40.0625em) {
			float: none;
			width: 100%;
			border: none;
			text-align: left;
			padding: 0;
			background-color: white;
		}
		
		.wrapper {
			
			@media (min-width: 64.0625em) {
				margin: 0 auto;
				overflow: hidden;
				width: 71em;
			}
			
			@media (min-width: 90.0625em) {
				width: 90em;
				margin: 0 auto;
			}
		
			.primary-logo {
				display: none;
				
				@media (min-width: 40.0625em) {
					display: inherit;
					width: 100%;
					text-align: center;
					padding: 3% 0;
					
					img {
						max-width:38%;
						margin: 0 auto;
					}
				}
				
				@media (min-width: 64.0625em) {
					float: left;
					width: 15.625em;
					padding: 0.875em 5%;
					
					img {
						max-width: 250px;
						margin: 0;
					}
				}
			}
		
			nav {
				
				@media (min-width: 40.0625em) {
					width: 45em;
					margin: 0 auto;
				}
				
				@media (min-width: 64.0625em) {
					width: 48em;
					float: left;
				}
				
				@media (min-width: 90.0625em) {
					width: 65.375em;
					float: left;
				}
					
				ul {
					list-style: none;
					
					li {
						
						@media (min-width: 40.0625em) {
							float: left;
							display: inline;
							text-align: center;
						}
						
						div.megamenu {
							display: none;
							color: $eighty-grey;
							font-family: $font-serif;
							line-height: 1.25em;
							position: absolute;
							z-index: 9999;
							margin: 0 auto;
							left: 0;
							width: 100%;
							
							div.menu-shift {
								margin: 0 auto;
								width: 100%;
								overflow: hidden;
								
								@media (min-width: 64.0625em) {
									width: 71em;
									margin: 0 auto;
								}
								
								@media (min-width: 90.0625em ) {
									width: 90em;
								}
							}
							
							div.mega-container {
								overflow: hidden;
								background: white;
								border-bottom: solid 4px $tsu-blue;
								padding: 1em .5em;
								width: 100%;
								float: left;
								
								@media (min-width: 64.0625em) {
									width: 48em;
									float: right;
								}
								
								@media (min-width: 90.0625em) {
									width:65.375em;
								}
								
								nav {
									font-family: $font-sans;
									float: left;
									width: 33%;
									border-right: solid 1px $light-grey-gradient;
									padding: 0 1em 0 0;
									
									ul {
										
										li {
											clear: left;
											width: 100%;
											text-align: right;
											
											a {
												@include transition (color, 0.2s, ease);
												border: none;
												color: $tsu-blue;
												padding: .5em;
												
												&:hover {
													background: white;
													color: $eighty-grey;
												}
											}
										}
									}
								}
								
								div {
									float: left;
									max-width: 60%;
									padding: 0 0 0 1.5em;
									
									p {
										font-size: (16/14)*1em;
										line-height: 1.5em;
										max-width: 85%;
										padding-top: .125em;
										margin-top: 0;
										text-transform: none;
										text-align: left;
										
										@media (min-width: 64.0625em) {
											line-height: 1.375em;
										}
									}
								}
							}
						}
						
						a {
							
							@media (min-width: 40.0625em) {
								padding: 1em .6em .75em;
								border-bottom: white solid 4px;
								display: block;
							}
							
							@media (min-width: 64.0625em) {
								padding: 2.125em .755em;
							}
							
							@media (min-width: 90.0625em) {
								padding: 2.125em 1.625em;
							}
							
							&:hover {
								
								@media (min-width: 40.0625em) {
									@include linear-gradient ($gradient-blue, $light-blue);
									color: white;
									border-bottom: $tsu-blue solid 4px;
								}
							}
						}
						
						&:hover > div.megamenu {
										
										@media (min-width:40.0625em) {
											display: block;
										}
									}
						
						+li {
							
							@media (min-width: 40.0625em) {
								margin: 0 0 0 1px;
							}
							
							@media (min-width: 64.0625em) {
								margin: 0 0 0 2px;
							}
						}
					}
				}
			}
		}
	}
	
	// secondary navigation
	.secondary-nav {
		float: left;
		padding: 2.5%;
		text-transform: capitalize;
		font-size: $mobile-font-size;
		line-height: $moblie-line-height;
		width: 44%;
		border: none;
		text-align: left;
		
		@media (min-width: 40.0625em){
			clear: left;
			background: $eighty-grey;
			color: white;
			width: 100%;
			margin: 0;
			padding: 0;
		}
		
		.wrapper {
			
			@media (min-width: 40.0625em){
				margin: 0 auto;
				overflow: hidden;
				width: 44.5em;
			}
			
			@media (min-width: 90.0625em) {
				width: 48em;
				margin: 0 auto;
			}
			
			nav {
				
				@media (min-width: 40.0625em) {
					margin: 0;
					padding: 0;
				}
				
				ul {
					
					li {
						
						@media (min-width: 40.0625em) {
							display: inline;
							float: left;
						}
						
						div.megamenu {
							display: none;
							color: $eighty-grey;
							font-family: $font-serif;
							line-height: 1.25em;
							position: absolute;
							z-index: 9999;
							margin: 0 auto;
							left: 0;
							width: 100%;
							
							div.mega-container {
								width: 100%;
								background-color: white;
								border-bottom: solid 4px $tsu-blue;
								padding:1em .5em;
								overflow: hidden;
								
								@media (min-width:90.0625em) {
									max-width: 48em;
									margin: 0 auto;
								}
							
								nav {
									font-family: $font-sans;
									float: left;
									width: 33%;
									border-right: solid 1px $light-grey-gradient;
									padding: 0 1em 0 0;
									
									ul {
										
										li {
											clear: left;
											width: 100%;
											text-align: right;
											
											a {
												@include transition (color, 0.2s, ease);
												
												&:hover {
													background: white;
													color: $eighty-grey;
												}
											}
										}
									}
								}
								
								div {
									float: left;
									max-width: 60%;
									padding: 0 0 0 1.5em;
									
									p {
										font-size: (16/14)*1em;
										line-height: 1.5em;
										max-width: 85%;
										padding-top: .125em;
										margin-top: 0;
										text-transform: none;
										
										@media (min-width: 64.0625em) {
											line-height: 1.375em;
										}
									}
								}
							}
						}
						
						+li {
							
							@media(min-width:40.0625em) {
								margin: 0 0 0 2px;
							}
						}
						
						a {
							color: white;
							
							@media(min-width:40.0625em) {
								padding: .5em .875em;
								text-transform: uppercase;
								font-size: .75em;
								display: block;
							}
							
							@media (min-width: 90.0625em) {
								padding: .5em 1.25em;
							}
						}
						
						&:hover {
							
							@media (min-width: 40.0625em) {
								@include linear-gradient($light-grey-gradient, $dark-grey-gradient);
							}
							
							a {
								
								@media (min-width: 40.0625em){
									color: $tsu-blue;
								}
							}
							
							> div.megamenu {
								
								@media (min-width:40.0625em) {
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}
// mobile header
.mobile-header {
	clear: both;
	width: 100%;
	text-align: center;
	background-color: white;
	border-bottom: solid 1px $ghost-grey;
	overflow: hidden;
	
	.mobile-logo {
		width: 79%;
		float: left;
		padding:5% 3%;
		
		img {
			width: 80%;
		}
	}
	
	.toggle-mobile {
		width: 8%;
		float: right;
		padding:11% 7% 6% 0%;
	}
	
	@media (min-width: 40.0625em) {
		display: none;
	}
}

// SLIDESHOW

@import "_primeslide.scss";

// CURRENT NEWS

section.current-news {
	background-color: $twoforty-grey;
	width: 100%;
	position: relative; // to fix google fonts in Safari
	z-index: 1; // to fix google fonts in Safari

	.wrapper {
		width: 90%;
		padding: 1em 0;
		margin: 0 auto;
		
		@media (min-width: 64.0625em) {
			margin: 0 auto;
			overflow: hidden;
			width: 60em;
		}
		
		@media (min-width: 90.0625em) {
			width: 64em;
			margin: 0 auto;
		}
	}
	
	h1 {
		font-weight:400;
		color: $light-blue;
		font-size: 1.875em;
		text-transform: capitalize;
		padding-bottom: .5em;
		margin: 0;
	}
	
	#news .item {
		padding: 0 5px;
		text-align: center;
		
		img {
			padding-bottom: 5px;
		}
		a {
			text-decoration: none;
			color: $charcoal-grey;
			text-transform: capitalize;
			@include transition (color, 0.2s, ease);
			
			&:hover {
				color: $tsu-blue;
			}
		}
	}
}

// FEATURED CONTENT
section.featured-content {
	padding:1.75em 0;
	
	div.wrapper {
		width: 90%;
		padding: 1em 0;
		margin: 0 auto;
		overflow: hidden;
		
		@media (min-width: 64.0625em) {
			margin: 0 auto;
			overflow: hidden;
			width: 60em;
		}
		
		@media (min-width: 90.0625em) {
			width: 64em;
			margin: 0 auto;
		}
		
		//STUDENT PROFILES
		section.student-profiles {
			text-align: center;
			margin:0 auto 1em;
			display: none;
			
			@media (min-width: 64.0625em) {
				display: inherit;
				width: 25%;
				float: left;
			}
			
			h1 {
				margin: 0;
				font-size: 1.875em;
				padding: .5em 0;
			}
			
			a {
				text-decoration: none;
				
				img {
					max-width: 200px;
				}
				
				h2 {
					font-size: 1.5em;
					font-weight: bold;
				}
				
				h3 {
					font-size: .875em;
				}
			}
		}
		
		// FEATURED VIDEO
		section.featured-video {
			clear: left;
			
			@media (min-width: 64.0625em) {
				clear: none;
				float: left;
				width: 72%;
				margin-right: 3%;
			}
			
			h1 {
				margin: 0 0 .5em 0;
				padding: .25em 0;
				text-transform: capitalize;
				font-size: 1.875em;
			}
			
			.video-wrapper {
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				padding-top: 25px;
				height: 0;
			
				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

// TSU BY THE NUMBERS
@import "_bythenumbers.scss";

// CALL TO ACTION
section.call-to-action {
	background: url(../../images/jpg/calltoactionbg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	padding: 3.125em 0;
	width: 100%;
	box-sizing: border-box;
	
	.wrapper {
		width: 90%;
		padding: 1em 0;
		margin: 0 auto;
		overflow: hidden;
		
		@media (min-width 40.0625em) {
			width: 38em;
		}
		
		@media (min-width: 64.0625em) {
			width: 62em;
		}
		
		@media (min-width: 90.0625em) {
			width: 88em;
		}
		
		ul.badges {
			padding: 0;
			margin: 0;
			text-align: center;
			
			li.clicky {
				list-style-type: none;
				max-width: 269px;
				display: inline-block;
				margin: 1% 1% 0 0;
				
				&:last-child {
					
					@media (min-width: 58.375em) and (max-width: 90em) {
						display: none;
					}
					
					@media (max-width: 40em) {
						display: none;
					}
				}
				
				&:first-child {
					
					@media (max-width: 40em) {
						display: none;
					}
				}
			}
		}
	}
}

// INDEX INSTAGRAM FEED
section.photo-feed {
	
	.wrapper {
		width: 90%;
		padding: 1em 0;
		margin: 0 auto;
		
		@media (min-width: 64.0625em) {
			margin: 0 auto;
			overflow: hidden;
			width: 60em;
		}
		
		@media (min-width: 90.0625em) {
			width: 64em;
			margin: 0 auto;
		}
		
		h1{
			margin: 0;
			padding-bottom: .375em;
			text-transform: capitalize;
			font-size: 1.875em;
		}
		
		div#instagram {
			
			div.item {
				float: left;
				width: (96.9/4)*1%;
				
				a {
					
					img{
						max-width: 640px;
						max-height: 640px;
						width: 100%;
						
					}
				}
				
				+ div.item {
					margin-left: 1%;
				}
			}
		}
	}
}

// INTERIOR PAGE TEMPLATE
.template-content {
	
	a {
		text-decoration: underline;
		color: $tsu-blue;
		@include transition (color, 0.2s, ease);
		
		&:hover {
			text-decoration: none;
			color: $charcoal-grey;
		}
	}
	
	.hero-image {
		max-height: 10em ;
		overflow: hidden;
		
		@media (min-width: 40.0625em){
			max-height: 14em;
		}
		
		@media (min-width: 90.0625em) {
			max-height: 18em;
		}
		
		picture {
			
			img {
				width: 100%;
			}
		}
	}
	
	.wrapper {
		width: 90%;
		padding:0 5%;
		margin: 0 auto;
		overflow: hidden;
		
		@media (min-width: 40.0625em){
			width: 38em;
			padding:0 1em;
		}
		
		@media (min-width: 64.0625em) {
			width: 60em;
		}
		
		.side-nav {
			font-family: $font-sans;
			
			nav {
				padding: 5% 2%;
				width: 96%;
				overflow: hidden;
				
				@media (min-width: 40.0625em) {
					padding: 5% 3% 5% 0;
					float: left;
					width: 22%;
				}
				
				@media (min-width: 64.0625em){
					float: left;
					padding-right: 4%;
					width: 21%;
				}
				
				@media (min-width: 90.0625em) {
					width: 18%;
				}
				
				ul {
					margin: 0;
					padding: 0;
					border-top: solid 1px $twoforty-grey;
					border-left: solid 1px $twoforty-grey;
					border-right: solid 1px $twoforty-grey;
					
					@media (min-width: 40.0625em) {
						border: none;
					}
					
					li {
						padding: .5em;
						list-style-type: none;
						border-bottom: solid 1px $twoforty-grey;
						background-color: $ghost-grey;
						
						@media (min-width: 40.0625em) {
							padding: 0;
							margin-bottom: 1em;
							border: none;
							background-color: white;
						}
						
						a {
							text-decoration: none;
							color: $light-blue;
							display: block;
							padding-left: 1em;
							@include transition (color, 0.5s, ease);
							
							&:hover {
								color: $charcoal-grey;
							}
						}
						
						ul {
							margin-top: .5em;
							border: none;
							background-color: $twoforty-grey;
							
							@media (min-width: 40.0625em) {
								margin-left: 1em;
								margin-top: 1em;
								background-color: white;
							}
							
							li {
								border: none;
								background-color: $twoforty-grey;
								
								@media (min-width: 40.0625em) {
									background-color: white;
								}
								
								&:last-item {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
		}
		
		.main-content {
			padding: 5% 0;
			float: left;
			width: 100%;
			
			@media (min-width: 40.0625em) {
				width: 75%;
			}
			
			@media (min-width: 90.0625em) {
				width: 79%;
			}
			
			@media (min-width: 90.0625em) {
				width: 76%;
			}
			
			#crumbTrail {
				font-family: $font-sans;
				margin: 0;
				padding: 0 0 1em 0;
				list-style: none;
				color: $tsu-blue;
				
				li {
					display: inline;
					
					a {
						color: $tsu-blue;
						text-decoration: none;
						border-bottom: dotted $tsu-blue 1px;
						@include transition (color, 0.5s, ease);
						
						&:hover {
							color: $charcoal-grey;
							border-bottom: none;
						}
					}
				}
			}
			
			h1, h2, h3, h4, h5, h6 {
				padding: 1% 0;
				margin: 0;
			}
			
			figure {
				color: white;
				background-color: $light-blue;
				float: right;
				font-family: $font-sans;
				font-size: .75em;
				
				img {
					width: 100%;
				}
				
				figcaption {
					padding: 1% 2% 3%;
					text-align: center;
				}
			}
		}
	}
}

// FOOTER
@import "_footer.scss";
