// Import Mixins
@import "mixins.scss";

// Variables
@import "_variables.scss";

//Normalize -- normalize.css makes browsers render all elements more consistently and in line with modern standards, visit  https://github.com/necolas/normalize.css/blob/master/normalize.css for more details
@import "_normalize.scss";

// TYPOGRAPHY
@import "_typography.scss";

// MISC STYLING
.lowercase {
	text-transform: lowercase;
}
.hidesmall {
	display: none;
	
	@media (min-width: 90.0625em) {
		display: inline;
	}
}
.hidebig {
	
	@media (min-width: 90.0625em) {
		display: none;
	}
}
.emphasis {
	font-weight: 700;
}
.italicized {
	font-style: oblique;
}
	
// HEADER
@import "_header.scss";

// SLIDESHOW
@import "_primeslide.scss";

// CURRENT NEWS
@import"_currentnews.scss";

// FEATURED CONTENT
@import "_featuredcontent.scss";

// TSU BY THE NUMBERS
@import "_bythenumbers.scss";

// CALL TO ACTION
@import "_calltoaction.scss";

// INDEX INSTAGRAM FEED
@import "_instagramfeed.scss";

// INTERIOR PAGE TEMPLATE
@import "interior/_interior.scss";

// FOOTER
@import "_footer.scss";
